/* Styles for the container */
.tram-container {
    width:1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
}

/* Styles for the title */
.tram-title {
    color: #000;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    background:rgb(163, 187, 200);
}

/* Styles for the images */
.tram-image {
    width:100%;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Styles for the paragraph */
.tram-paragraph {
    color: black;
    font-size: 16px;
    line-height: 1.6;
}
.tram-container img.zoom-in {
    transform: scale(2);
}

p a{
    text-decoration: none;
    color: black;
    background-color:rgb(163, 187, 200);
}
p a:hover {
    text-decoration: underline;
}